# Logging
LOG_LEVEL=info

# Opengist
OPENGIST_URL=https://gist.example.com
OPENGIST_TOKEN=og_xxxxxxxx
OPENGIST_GIST_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# GitHub
GH_TOKEN=github_pat_xxxxxxxx

# Discord
WEBHOOK_DISCORD_UNI=https://discord.com/api/webhooks/xxx/yyy
